{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "all",
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["cn", "clsx"],
  "overrides": [
    {
      "files": "*.tsx",
      "options": { "parser": "typescript" }
    },
    {
      "files": "*.json",
      "options": { "parser": "json" }
    }
  ]
}
